/* body section */
body {
	background-position: center center;
	background-image: url("../images/crystback.jpg");
	background-repeat: no-repeat;
	background-size: 100%
}
/*header section*/
header {
    font-family: 'Piedra';
	color: rgb(33, 173, 216);
	padding: 20px 5px;
	margin: 10px;
    width: 650px;
	text-align: center;
	background-color: blueviolet;
}
/*title*/
h1 {
	font-size: 50px;
	font-weight: bold;
}
/*Game directions  */
.game-info {
    font-family: 'Piedra';
    font-weight: bold;
	font-size: 18px;
	height: 70px;
	background-color:blueviolet;
	color: rgb(33, 173, 216);
	padding: 20px 10px 10px 10px;
	height: 250px;
	width: 640px;
	line-height: 1.2em;
	margin-left: 10px;
	margin-bottom: 10px;
}
/* Total number box */
.goalBox {
	background-color: blueviolet;
	text-align: center;
	color: rgb(33, 173, 216);
	font-size: 2em;
	width: 150px;
	height: 80px;
	padding: 5px;
	margin-left: 10px;
	float: left;
}
/* Wins & loss boxes */
.winBox {
	background-color: blueviolet;
	color: rgb(33, 173, 216);
	width: 200px;
	height: 80px;
	padding: 5px;
	line-height: 1.5em;
	margin-left: 180px;
	margin-bottom: 10px;
}
/*  crystal function buttons */
.crystalButtons {
	clear: both;
	position: relative;
	margin: 0 auto;
    float: left;
}
/* Crystal images size */
.crystalImage {
	width: 148px;
	height: 80px;
	margin: 10px;
}
/* Crystal value accumulator box */
.totalLit, .tallyBox {
	background-color: blueviolet;
	color: rgb(33, 173, 216);
	width: 200px;
}

.totalLit {
	padding: 10px;
	height: 20px;
	text-align: left;
	margin: 120px 0 0 10px;
}
/* total tally box section */
.tallyBox {
	font-size: 2em;
	padding: 10px 10px 50px 10px;
	margin: 10px 0 10px 10px;
}